$white: #ffffff;
$black: #000000;

$gray_1: #eceef1;
$gray_2: #dddddd;
$gray_3: rgba(13,27,62,.65);
$gray_4: rgba(39,56,72,.85);
$gray_5: rgba(236,238,241,.67);

$red: red;

$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;
