<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>doc转换工具</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <style>
  #loading {}
  #loading img {
    width: 20px;
    animation: rotate .8s linear infinite;
  }
  @keyframes rotate{
    0%{ transform: rotate(0deg); }
		25%{ transform: rotate(90deg); }
		50%{ transform: rotate(180deg); }
		75%{ transform: rotate(270deg); }
		100%{ transform: rotate(360deg); }
  }
  </style>
  <body onload="load()">
    <div id="loading">
      <img src="/static/img/loading.png" alt="">
    </div>
    <div id="app">
    </div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>

<script>
function load() {
  document.getElementById('loading').style.display = 'none';
}
</script>
